@CHARSET "ISO-8859-1";

body {
	margin : 0;
	background: url('/images/background.png');
	background-size: 1440px 1600px;
	background-repeat: no-repeat;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}
td.tdHeader {
	background-color: #cecece;
	font-style: italic;
	font-weight: bold;
	color: #044862;
}
td.tdSideHeader {
	background-color: #1d7bc0;
	font-style: italic;
	font-weight: bold;
	color: #ffffff;
}

td.tdSmallBold {
	font-weight: bold;
	font-size:small;
	color: #676767;
	text-align: center;
}

.errClass {
	border : 2px solid red;
} 
.colClass {
	white-space: nowrap;
} 
.modalHeaderWarning {
	background-color: #ff8000;
	font-size: large;
	text-align: center;
	color: white;
}
.modalHeader {
	background-color: #0086b3;
	font-size: large;
	text-align: center;
	color: white;
}
.modalBodyWarning {
	font-size: medium;
	font-style:italic;
	text-align: left;
	color: red;
}
.modalBody {
	font-size: medium;
	font-style:italic;
	text-align: left;
	color: blue;
}
.cvzPanelBorder {
	border: thin;
	border-style:dashed;
	border-color: #007dfb;
	margin-left: 1px;
	margin:3px; 
	padding:7px;
}

.cvzMainHeader {
	font: bold;
	font-size: x-large;
	font-style: normal;
	font-weight: bold;
	color: #006b9f;
}

.cvzSectionHeader {
	font: bold;
	font-size: medium;
	font-style: normal;
	font-weight: bold;
	color: #006b9f;
}

label.error {color: red;}
label.valid {display: block;}

.styled-select {
   background: cyan;
   height: 29px;
   overflow: hidden;
   width: 240px;
}
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.form-control_kedb {
	width: 30%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}